.App {
  text-align: left;
}
h1 {
  margin-top: 30px;
  text-align: center;
}
#form {
  width: 40vw;
  height: 62vh;
  margin-top: 50px;
  margin-left: 28vw;
  padding: 10px;
  background-color: #F5F5F5;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
}
label {
  font-size: 20px;
  margin: 20px 20px 20px;
}
input {
  width: 35vw;
  height: 4vh;
  margin: 20px 20px 10px 20px;
}
#create {
  background-color: #3D3D88;
  width: 10vw;
  color: #fff;
  margin-top: 20px;
  margin-left: 20px;
  height: 5vh;
}
.cardDisplay {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 20vw;
  height: 45vh;
  margin-left: 28vw;
  background-color: #F5F5F5;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
  padding: 20px;
}
#imgDisplay {
  width: 18vw;
  height: 20vh;
  margin-left: 1vw;
}
p{
  margin-left: 1vw;
}
#delete {
  background-color: #3D3D88;
  width: 6vw;
  color: #fff;
  margin-left: 1vw;
  height: 5vh;
}